Options -MultiViews +FollowSymlinks -Indexes

<FilesMatch "\.(tpl|sql|ini|log)">
	Order deny,allow
	Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /eresolute
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php
</ifModule>
